*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width:100%;
    height: 100vh;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
h1{
    color:blue;}
body{
    background:black;}

